<a href="https://colab.research.google.com/github/fathimabasheerr/crop_recommendation_system/blob/main/crop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [174]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [175]:
dataset=pd.read_csv("/content/Crop_recommendation.csv")

In [225]:
dataset.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [226]:
from sklearn.preprocessing import StandardScaler

In [227]:
scaler=StandardScaler()

In [228]:
scaler.fit(dataset.drop("label",axis=1))

StandardScaler()

In [229]:
dataset.columns[:-1]

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall'], dtype='object')

In [230]:
Scaler_feature=scaler.transform(dataset.drop("label",axis=1))

In [231]:
new_dataset=pd.DataFrame(Scaler_feature,columns=dataset.columns[:-1])

In [232]:
new_dataset

             N         P         K  temperature  humidity        ph  rainfall
0     1.068797 -0.344551 -0.101688    -0.935587  0.472666  0.043302  1.810361
1     0.933329  0.140616 -0.141185    -0.759646  0.397051  0.734873  2.242058
2     0.255986  0.049647 -0.081939    -0.515898  0.486954  1.771510  2.921066
3     0.635298 -0.556811 -0.160933     0.172807  0.389805  0.660308  2.537048
4     0.743673 -0.344551 -0.121436    -1.083647  0.454792  1.497868  2.898373
...        ...       ...       ...          ...       ...       ...       ...
2195  1.529390 -0.587134 -0.318922     0.228814 -0.227709  0.401395  1.352437
2196  1.312641 -1.163269 -0.417666     0.355720 -0.666947 -0.494413  0.445183
2197  1.827421 -0.617457 -0.358420    -0.293218 -0.191235 -0.138120  1.271418
2198  1.800327 -0.647780 -0.279425     0.129612 -0.869518  0.373904  0.431545
2199  1.448109 -1.072300 -0.358420    -0.397667 -0.498020  0.401096  0.682005

[2200 rows x 7 columns]

In [184]:
from sklearn.model_selection import train_test_split

In [185]:
x = new_dataset
y = dataset['label']
xtrain,xtest,ytrain,ytest = train_test_split(x,y,random_state=42,test_size=0.3)

In [186]:
y.shape

(2200,)

In [187]:
x.shape

(2200, 7)

KNN and naive

In [188]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB,BernoulliNB
knn = KNeighborsClassifier(n_neighbors=47)
gnb = GaussianNB()
bnb = BernoulliNB()

knn.fit(xtrain,ytrain)

KNeighborsClassifier(n_neighbors=47)

In [189]:
gnb.fit(xtrain,ytrain)
bnb.fit(xtrain,ytrain)

BernoulliNB()

In [190]:
ypred = knn.predict(xtest)

In [191]:
gpred=gnb.predict(xtest)
bpred=bnb.predict(xtest)

In [192]:
from sklearn.metrics import classification_report,confusion_matrix

In [193]:
from sklearn.metrics import accuracy_score

In [236]:
print(confusion_matrix(ytest,ypred))
print(classification_report(ytest,ypred))

[[34  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 26  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0 25  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0 34  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0 33  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0 30  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0 28  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 2  0  0  0  0  0  0 21  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0 34  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0 36  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  1  0  0  0  0  0  0  0 20  0  0  0  1  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  2  0  0  0  0 24  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0 32  0  0  0  0  0  0  0  0  0]
 [ 0  0  3  0  0  0  0  0  0  0  6  0 11 14  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0 30  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 24  0  0  0  0  0  0]
 [ 0  0  0  0  2  0  0  0  0  0  0  0  0  0  0  0 14  0  0  9  0  0]
 [ 0  0  0  0  0  0  0  0  4  0  0  0  0  0  6  0  0 25  0  0  2  0]
 [ 0  0  5  0  0  0  0  0  1  5  2  0  5  1  0  0  0  0 18  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 38  0  0]
 [ 0  0  0  0  0  0  0  0 13  0  0  0  0  0  0  0  0  0  0  0 15  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 23]]
              precision    recall  f1-score   support

       apple       0.94      1.00      0.97        34
      banana       1.00      1.00      1.00        26
   blackgram       0.74      0.96      0.83        26
    chickpea       1.00      1.00      1.00        34
     coconut       0.94      1.00      0.97        33
      coffee       1.00      1.00      1.00        30
      cotton       0.93      1.00      0.97        28
      grapes       1.00      0.91      0.95        23
        jute       0.65      1.00      0.79        34
 kidneybeans       0.88      1.00      0.94        36
      lentil       0.69      0.91      0.78        22
       maize       1.00      0.92      0.96        26
       mango       0.67      1.00      0.80        32
   mothbeans       0.93      0.41      0.57        34
    mungbean       0.81      1.00      0.90        30
   muskmelon       1.00      1.00      1.00        24
      orange       1.00      0.56      0.72        25
      papaya       1.00      0.68      0.81        37
  pigeonpeas       1.00      0.49      0.65        37
 pomegranate       0.81      1.00      0.89        38
        rice       0.88      0.54      0.67        28
  watermelon       1.00      1.00      1.00        23

    accuracy                           0.88       660
   macro avg       0.90      0.88      0.87       660
weighted avg       0.90      0.88      0.87       660

In [195]:

print("Test data accuracy:",accuracy_score( ytest,ypred))

Test data accuracy: 0.8757575757575757

In [196]:
print(confusion_matrix(ytest,gpred))
print(classification_report(ytest,gpred))

[[34  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 26  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0 26  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0 34  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0 33  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0 30  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0 28  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0 23  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0 34  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0 36  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0 22  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0 26  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0 32  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0 34  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0 30  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 24  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 25  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 37  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 37  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 38  0  0]
 [ 0  0  0  0  0  0  0  0  4  0  0  0  0  0  0  0  0  0  0  0 24  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 23]]
              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        34
      banana       1.00      1.00      1.00        26
   blackgram       1.00      1.00      1.00        26
    chickpea       1.00      1.00      1.00        34
     coconut       1.00      1.00      1.00        33
      coffee       1.00      1.00      1.00        30
      cotton       1.00      1.00      1.00        28
      grapes       1.00      1.00      1.00        23
        jute       0.89      1.00      0.94        34
 kidneybeans       1.00      1.00      1.00        36
      lentil       1.00      1.00      1.00        22
       maize       1.00      1.00      1.00        26
       mango       1.00      1.00      1.00        32
   mothbeans       1.00      1.00      1.00        34
    mungbean       1.00      1.00      1.00        30
   muskmelon       1.00      1.00      1.00        24
      orange       1.00      1.00      1.00        25
      papaya       1.00      1.00      1.00        37
  pigeonpeas       1.00      1.00      1.00        37
 pomegranate       1.00      1.00      1.00        38
        rice       1.00      0.86      0.92        28
  watermelon       1.00      1.00      1.00        23

    accuracy                           0.99       660
   macro avg       1.00      0.99      0.99       660
weighted avg       0.99      0.99      0.99       660

In [197]:
print("Test data accuracy:",accuracy_score( ytest,gpred))

Test data accuracy: 0.9939393939393939

In [198]:
print(confusion_matrix(ytest,bpred))
print(classification_report(ytest,bpred))

[[31  0  0  0  0  0  0  3  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 22  0  0  0  0  2  0  0  0  0  0  0  0  0  0  0  0  0  0  2  0]
 [ 0  0 24  0  0  0  0  0  0  0  2  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0 34  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0 29  0  0  0  0  0  0  0  0  0  0  0  1  0  0  3  0  0]
 [ 0  0  0  0  0 30  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0 26  0  0  0  0  0  0  0  0  2  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0 23  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  1  0  0  0  2  0  0 13  0  0  0  0  0  0  0  0  3  0  0 15  0]
 [ 0  0  0  0  0  0  0  0  0 36  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  8  0  0  0  0  0  0  1  9  0  0  4  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  1  4  0  1  0  0 18  0  0  0  2  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0 27  5  0  0  0  0  0  0  0  0]
 [ 0  0  6  0  0  0  0  0  0  0  0  0 12 16  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0 30  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 24  0  0  0  0  0  0]
 [ 0  0  0  0  3  0  0  0  0  0  0  0  0  0  0  0 18  0  0  4  0  0]
 [ 1  0  0  0  0  0  0  0  1  0  0  0  0  0  2  1  2 30  0  0  0  0]
 [ 0  0  3  0  0  0  0  0  0  8  1  0  0  3  0  0  0  0 22  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 17  0  0 21  0  0]
 [ 0  0  0  0  0  0  0  0 11  0  0  0  0  0  0  0  0  2  0  0 15  0]
 [ 0  0  0  0  0  0  2  0  0  0  0  0  0  0  0 12  0  0  0  0  0  9]]
              precision    recall  f1-score   support

       apple       0.97      0.91      0.94        34
      banana       0.96      0.85      0.90        26
   blackgram       0.59      0.92      0.72        26
    chickpea       1.00      1.00      1.00        34
     coconut       0.91      0.88      0.89        33
      coffee       0.91      1.00      0.95        30
      cotton       0.76      0.93      0.84        28
      grapes       0.88      1.00      0.94        23
        jute       0.50      0.38      0.43        34
 kidneybeans       0.80      1.00      0.89        36
      lentil       0.75      0.41      0.53        22
       maize       1.00      0.69      0.82        26
       mango       0.69      0.84      0.76        32
   mothbeans       0.57      0.47      0.52        34
    mungbean       0.94      1.00      0.97        30
   muskmelon       0.59      1.00      0.74        24
      orange       0.47      0.72      0.57        25
      papaya       0.86      0.81      0.83        37
  pigeonpeas       1.00      0.59      0.75        37
 pomegranate       0.75      0.55      0.64        38
        rice       0.47      0.54      0.50        28
  watermelon       1.00      0.39      0.56        23

    accuracy                           0.77       660
   macro avg       0.79      0.77      0.76       660
weighted avg       0.79      0.77      0.76       660

In [237]:
print("Test data accuracy:",accuracy_score( ytest,bpred))

Test data accuracy: 0.7681818181818182

In [239]:
inputData = {"N" :62,
"P" :37,
"K" : 19,
"temperature" : 24.2547,
"humidity" : 64.742,
"ph" : 6.780,
"rainfall" : 104.2322
}

In [240]:
dataframe = pd.DataFrame([inputData])

In [241]:
dataframe

    N   P   K  temperature  humidity    ph  rainfall
0  62  37  19      24.2547    64.742  6.78  104.2322

In [242]:
yprednew = knn.predict(dataframe)

In [204]:
scaler.fit(dataframe)
Scaler_feature=scaler.transform(dataframe)
new_dataset=pd.DataFrame(Scaler_feature)

In [243]:
print(yprednew)

['rice']

In [244]:
bprednew = bnb.predict(dataframe)

In [245]:
gprednew = gnb.predict(dataframe)

In [246]:
print(gprednew)

['pigeonpeas']

In [247]:
print(bprednew)

['papaya']

In [210]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [211]:
y_pred = clf.predict(xtest)
print("Train data accuracy:",accuracy_score(y_true = ytrain, y_pred=clf.predict(xtrain)))
print("Test data accuracy:",accuracy_score(y_true = ytest, y_pred=y_pred))

Train data accuracy: 1.0
Test data accuracy: 0.9863636363636363

svm

In [212]:
from sklearn import svm

In [213]:
clf2=svm.SVC(kernel='linear')
clf2.fit(xtrain,ytrain)

SVC(kernel='linear')

In [214]:
predsvm=clf2.predict(xtest)

In [215]:
print("Accuracy:", accuracy_score(ytest,predsvm))

Accuracy: 0.9742424242424242

In [248]:
prednew = clf2.predict(dataframe)

In [249]:
print(prednew)

['apple']